<template>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <dl class="f-model">
                        <dt>关于我们</dt>
                        <dd>
                            <div class="clearfix">
                                <span class="text-nowrap pull-left">承办单位：</span>
                                <div class="oh">
                                    <div>中国关心下一代工作委员会健康体育发展中心</div>
                                    <div class="margin-t10">中国青少年艺术素质教育系列活动办公室</div>
                                </div>
                            </div>
                            <div class="clearfix margin-t10">
                                <span class="text-nowrap pull-left">技术支持：</span>
                                <div class="oh">
                                    XXXXXXXXXX有限公司
                                </div>
                            </div>
                            <div class="margin-t10">
                                <img src="images/record.png" class="vercial-middle margin-r5">
                                粤ICP备XXXXXXXXX号-1
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl class="f-model">
                        <dt>友情链接</dt>
                        <dd>
                            <div>
                                <a href="#">中国关心下一代工作委员会</a>
                            </div>
                            <div class="margin-t10">
                                <a href="#">中国关心下一代工作委员会健康体育发展中心</a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //vue component 设置，template 属性不需要设置，默认是用上方的模板
    jsScript={
        data: function() {
            return {

            }
        },

        computed:{

        }
    }

</script>